# =======================================================
# PLANTILLA DE VARIABLES GLOBALES (.env.example)
# Este archivo SÍ se puede subir a GitHub para que otros
# desarrolladores sepan qué variables necesita el proyecto.
# =======================================================

# 1. Base de Datos en la Nube (MongoDB Atlas)
MONGO_URI=mongodb://USUARIO:CONTRASEÑA@tu-host.mongodb.net/?replicaSet=atlas-test&tls=true&authSource=admin

# 2. Seguridad General
SECRET_KEY=escribe_aqui_una_clave_aleatoria
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# 3. Frontend (React / Vite)
VITE_API_AUTH_URL=http://localhost:3001
VITE_API_APPOINTMENTS_URL=http://localhost:3002
